.DS_Store
**/.build/
**/DerivedData/
**/*.xcuserstate
**/xcuserdata/
**/Pods/
**/*.hmap
**/*.ipa
**/*.dSYM.zip
**/*.dSYM
**/timeline.xctimeline
**/playground.xcworkspace
**/Carthage/Build/
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/**/*.png
**/fastlane/test_output
